
::-webkit-scrollbar{
    width: 3px;
    height: 4px;
    background-color:rgb(177, 174, 174);


}

#search:focus{
    box-shadow: none;
    border-color: white;
    border-bottom-color: black;
}
